<html>
    <head>
        <title>Register page</title>
<style>
div {
    width:370px;
    height:400px;
    margin-top:100px;
    padding-top:10px;
    border-radius:30px;
    background-color:rgba(255, 255, 255, 0.877);

}
input {
    width:300px;
    height:25px;
    border:none;
    border-bottom: 2px solid ;
    border-radius: 4px;
    outline:none;
}
button {
    width:60px;
    height:25px;
    border:none;
    border-bottom: 2px solid ;
    border-radius: 4px;
    background-color:#7AB730;
    color:white;
    border-bottom:2px solid;
}

</style>
    </head>


<body bgcolor="#7AB730">
    <center>
    <div clas="div">
        

       
            <h1>Register Here</h1>
            <input class="input" type="text" required placeholder="Enter Your Name"><br><br>
            <input class="input" type="text" required placeholder="Enter Your First Name"><br><br>
            <input class="input" type="text" required placeholder="Enter Your Second Name"><br><br>
            <input class="input" type="email" required placeholder="Enter Your Email"><br><br>
            <input class="input" type="password" required placeholder="Enter Your Password"><br><br>
            <input class="input" type="password" required placeholder="ReEnter Your Password"><br><br>
            <button class="button" type="submit">Submit</button>
    
    </div>
</center>
</body>
</html>
